
/* Bakground Color */

body {
    margin: 0;
    background-color:bisque ;
}

header {
background-color: rgb(233, 110, 110);
/* width: 100vw; */
text-align: center;
margin-top: 10px;

}
.flexDaddy {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display:  flex;
    flex-flow: row wrap;
    width: 80vw;
    margin: 0 auto;
    gap:1em;
    justify-content: center;
}

.buttons > button {
    padding: 1em;
    color: red;
    background-color: blanchedalmond;
    border-radius: 20px;
    
}

#story,.button {
    width: 80%;
    font-size: large;
}

/* #pleaseWork {
    font-size: large;
    color: red;
} */
