/* Bakground Color */

body {
    margin: 0;
    background-color:bisque ;
}
/*Change the header below*/
header {
background-color: rgb(233, 110, 110);
/* width: 100vw; */
text-align: center;
margin-top: 10px;
font-size: xx-large
}
/* Move everything below (name by Mr. Fast) */
.flexDaddy {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Move jusr the buttons below */
.buttons {
    display:  flex;
    flex-flow: row wrap;
    width: 80vw;
    margin: 0 auto;
    gap:1em;
    justify-content: center;
}
/* Change buttons below */
.buttons > button {
    padding: 1em;
    color: red;
    background-color: blanchedalmond;
    border-radius: 20px;
    font-size: 1.2rem;
}
/* Change both story and buttons below */
#story,.button {
    width: 80%;
    font-size:x-large
}
/* For the headder font*/
.almendra-sc-regular,header {
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: large;
  }
/* #pleaseWork {
    font-size: large;
    color: red;
} */